<div class="text-bg-dark text-center rounded-bottom">
    <div class="display-4">
        Employee Register
    </div>
</div>
<div class="p-4">
    <div class="row">
        <div class="col-md-6">
            <app-employee-form></app-employee-form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of service.list">
                        <td (click)="populateForm(emp)">{{emp?.fullName}}</td>
                        <td (click)="populateForm(emp)">{{emp?.position}}</td>
                        <td (click)="populateForm(emp)">{{emp?.location}}</td>
                        <td (click)="populateForm(emp)">{{emp?.salary}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(emp._id)"></i>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>